apiVersion: v2
name: openfga
description: A Kubernetes Helm chart for the OpenFGA project.

type: application
version: 0.2.53
appVersion: "v1.11.4"

home: "https://openfga.github.io/helm-charts"
icon: https://github.com/openfga/community/raw/main/brand-assets/icon/color/openfga-icon-color.svg

annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: 8E9B315F6C22E339959DA77B35CCF4BDC9F58F2A
    url: https://openfga.github.io/helm-charts/pgp-public-key.asc

